@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

/* ===== Global Reset & Base Styles ===== */
* {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

/* ===== Global Theme Variables ===== */

@theme {
  --color-primary: #780606; /* VisaVirtue Red */
  --color-bg: #F2F3FA;
  --color-text-dark: #111827;
  --color-text-light: #ffffff;
}




/* ===== Body Background ===== */
body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  position: relative;
  height: auto;
  overflow-x: hidden;
}

/* Background with slight blur and scroll effect */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F2F3FA;
  filter: blur(1px);
  z-index: -1;
}

/* ===== Section Styling ===== */
/* section {
  background: white;
  margin: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* section h2 {
  color: #374151;
  font-size: 2rem;
} */
